<body>
  <div class="container bg-light border border-start-0 rounded-4">
    <blockquote class="blockquote text-dark" style="margin-top: 5%">
      <h1><strong>Opciones Metodo de evaluación del Indicador: {{indicador.nombre}}</strong></h1>
    </blockquote>
    <div></div>

    <div class="card">
      <div class="card-body">
        
      </div>
      <div class="container bg-light border border-start-0 rounded-4" style="padding: 15px;"> 
        <div *ngIf="indicador.tipo === 'cualitativa'">
          <blockquote class="blockquote text-dark" style="margin-top: 5%">
            <h1>Variables de calificacion</h1>
          </blockquote>
          <button
            type="button w-100"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#materiaModal"
          >
            Agregar Variable
          </button>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Valor</th>
                <th>Escala</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>asdf</td>
                <td>asdf</td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>

        <div *ngIf="indicador.tipo === 'cuantitativa'">
          <app-evaluacion-cuantitativa></app-evaluacion-cuantitativa>
        </div>
      </div>
    </div>
  </div>
</body>
