<body>
  <div class="container text-center">
    <div class="row">
      <div class="card">
        <div class="header-container">
          <h1 class="header-title"> LISTADO DE RESPONSABLES</h1>
        </div>
        <div class="card-body">
          <div class="form-group">
            <input type="text" class="form-control" name="filterPost3" placeholder="Buscar..."
              [(ngModel)]="filterPost" />
          </div>
          <h3 class="subtitu"> seleccionar</h3>
          <mat-selection-list style="background-color: white;" [multiple]="false"
            (selectionChange)="onSelectionChange($event)" class="selection-list-container">
            <mat-list-option *ngFor="
                  let usuario of usuarioResponsable | buscarUsuario : filterPost
                " [value]="usuario">
              {{ usuario.persona.primer_nombre }}
              {{ usuario.persona.primer_apellido }}
            </mat-list-option>
          </mat-selection-list>
        </div>
      </div>

      <div class="card" style="height: 95%">
        <div class="header-container">
          <h1 class="header-title"> TAREAS ASIGNADAS</h1>
        </div>

        <div class="card-body">
          <div class="row align-items-center">
            <div class="col text-center" style="max-height: 300px; overflow-y: scroll" *ngIf="mostrarBoton">
              <div class="mat-elevation-z8 table-responsive" style="margin-bottom: 10%">
                <p-table *ngIf="dataSource.data.length > 0" [value]="dataSource.data">
                  <ng-template pTemplate="header">
                    <tr>
                      <th>ID</th>
                      <th>DESCRIPCIÓN</th>
                      <th>ACCIONES</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-elemento>
                    <tr [style.background-color]="getColorByEstado(elemento.estado)">
                      <td>{{ elemento.id_evidencia }}</td>
                      <td>{{ elemento.descripcion }}</td>
                      <td>
                        <button pButton type="button" class="p-button custom-action-button" icon="pi pi-align-left" style="background-color: rgb(9, 70, 9);"
                          [ngClass]="{'p-disabled': elemento.estado === 'pendiente' && disableVerDetalles}"
                          (click)="verDetalles(elemento)">
                        </button>
                        <br>
                        <button pButton type="button" class="p-button custom-action-button" icon="pi pi-check-square" style="background-color: #e90017;"
                          [ngClass]="{'p-disabled': elemento.estado === 'Aprobada'}"
                          (click)="seleccionarTarea(elemento)" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                        </button>
                        <br>
                        <button *ngIf="elemento.estado !== 'pendiente'" pButton type="button" icon="pi pi-question"
                          class="p-button  custom-action-button" (click)="seleccionarTareaDetalle(elemento)"
                          data-bs-toggle="modal" data-bs-target="#exampleModal3">
                        
                        </button>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>

            <div class="container">
              <div class="row justify-content-end">
                <div class="col">
                  <div style="display: flex; align-items: center">
                    <div class="mr-1" style="
                          width: 20px;
                          height: 20px;
                          background-color: rgb(213, 107, 93);
                        "></div>
                    <span class="label" style="font-size: 12px; opacity: 0.7">Rechazadas</span>
                  </div>
                </div>
                <div class="col">
                  <div style="display: flex; align-items: center">
                    <div class="mr-1" style="
                          width: 20px;
                          height: 20px;
                          background-color: rgb(16, 150, 45);
                        "></div>
                    <span class="label" style="font-size: 12px; opacity: 0.7">Aprobadas</span>
                  </div>
                </div>
                <div class="col">
                  <div style="display: flex; align-items: center">
                    <div class="mr-1" style="
                          width: 20px;
                          height: 20px;
                          background-color: rgb(206, 190, 101);
                        "></div>
                    <span class="label" style="font-size: 12px; opacity: 0.7">Pendientes</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
        (hidden.bs.modal)="LimpiarModal()">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header" style="background-color: rgb(9, 70, 9)">
              <h1 class="modal-title text-center display-2 fw-bold"
                style="font-family: Arial, sans-serif; color: white">
                EVALUAR
              </h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                (click)="LimpiarModal() "></button>
            </div>
            <div class="modal-body">
              <div class="card">
                <div class="card-body" style="height: 95%">
                  <h2 class="card-title">
                    <i class="fas fa-file-alt" style="margin-right: 10px"></i>Detalles
                  </h2>

                  <br />
                  <hr />

                  <div style="display: flex; justify-content: space-between">
                    <div style="width: 30%; margin-right: 10px">
                      <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Fecha de revisión</mat-label>
                        <input disabled name="fecha" matInput [value]="fechaFormateada" />
                      </mat-form-field>
                    </div>

                    <div style="width: 30%; margin-right: 10px">
                      <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Usuario Evaluador</mat-label>
                        <input disabled name="usuario" matInput [value]="user.username" />
                      </mat-form-field>
                    </div>

                    <div style="width: 30%; margin-right: 10px">
                      <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Estado de Tarea</mat-label>
                        <input disabled name="estado" matInput [value]="estadoEvi" required />
                      </mat-form-field>
                    </div>
                  </div>
                  <div style="width: auto; margin-right: 10px">
                    <mat-form-field class="full-width" appearance="outline">
                      <mat-label>Descripción Tarea</mat-label>
                      <input disabled name="estado" matInput [value]="evid.descripcion" />
                    </mat-form-field>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6" style="width:29%">
                  <div class="card">
                    <div class="card-body">
                      <h3 class="card-title">
                        <i class="fas fa-pencil-alt" style="margin-right: 5px"></i>
                        <strong>OBSERVACIONES</strong>
                      </h3>
                      <br />
                      <div class="container">
                        <div >
                          <button type="button" class="bntborrar" pButton icon="pi-eraser" style="background-color: rgb(250, 250, 3); color: white;"  (click)="Limpiar()">
                            <i class="fas fa-eraser"></i> Limpiar
                          </button>
                          <button type="button" icon="pi pi-thumbs-up " pButton style="background-color: rgb(9, 70, 9); color: white;" class="btnaceptar" (click)="Aprobado(evid.descripcion)">
                             Aprobar
                          </button>
                          <button type="button" icon="pi pi-thumbs-down-fill" pButton style="background-color: rgb(230, 10, 10); color: white;" class="btnrechasar" (click)="Rechazado(evid.descripcion)">
                         Rechazar
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-sm-8" *ngIf="mostrar" style="width: 70%">
                  <div class="card">
                    <div class="card-body">
                      <form (ngSubmit)="enviar()">
                        <div style="
                              display: flex;
                              justify-content: flex-start;
                              gap: 10rem;
                            ">
                          <div class="form-floating mb-3" style="width: 45%">
                            <input type="text" id="toUser" name="toUser" required class="form-control"
                              placeholder="............" [value]="correoEnviar" [(ngModel)]="toUser" required />
                            <label for="toUser">Para:</label>
                          </div>

                          <div class="form-floating mb-3">
                            <input type="text" id="subject" name="subject" style="margin-right: 5%"
                              [(ngModel)]="subject" required class="form-control" placeholder="............" required />
                            <label for="subject">Asunto:</label>
                          </div>
                        </div>

                        <div style="margin-bottom: 10%; height: 25px">
                          <div class="form-floating">
                            <textarea class="form-control card-textarea" placeholder="Leave a comment here"
                              id="floatingTextarea2" style="max-height: 75px; overflow-y: auto"
                              placeholder="Ingrese alguna observación..........." [(ngModel)]="observacion" required
                              id="message" name="message" [(ngModel)]="message" required rows="12"></textarea>
                            <label for="message">Comentario</label>
                          </div>
                        </div>

                        <div class="button-group" style="display: flex; justify-content: center">
                          <button type="submit" class="btn btn-primary">
                            <i class="fas fa-envelope"></i> Enviar
                          </button>
                        </div>
                      </form>

                      <div class="spinner-container" *ngIf="isSending">
                        <div class="overlay">
                          <mat-progress-spinner [diameter]="150" [strokeWidth]="5" [value]="spinnerValue"
                            [mode]="'determinate'" class="spinner"></mat-progress-spinner>
                          <h1 class="text" style="color: white">
                            Enviando correo...
                          </h1>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer" >
              <button type="button" pButton icon="pi pi-save" class="btnguardar" data-bs-dismiss="modal"
                style="background-color: rgb(9, 70, 9)" (click)="ModificarTarea()">
                Guardar
              </button>
              <button type="button" pButton icon="pi pi-times" style="background-color: rgb(233, 1, 1)" class="btncancelar" data-bs-dismiss="modal"
                (click)="LimpiarModal() ">
          Cancelar
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header" style="background-color:rgb(9, 70, 9)">
              <h1 class="modal-title" style="font-family: Arial, sans-serif; color: white" id="exampleModalLabel">
                OBSERVACIONES
              </h1>

            </div>
            <div class="modal-body">
              <div class="table-responsive mat-elevation-z8 modal-table" style="margin-bottom: 5%">
                <p-table [value]="dataSource4.data" [columns]="columnasDetalle" [paginator]="true" [rows]="10">
                  <ng-template pTemplate="header">
                      <tr>
                          <th>ID</th>
                          <th>EVIDENCIA</th>
                          <th>OBSERVACIÓN</th>
                          <th>ESTADO</th>
                          <th>FECHA</th>
                          <th>USUARIO EVALUADOR</th>
                          <th>ACCIONES</th>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-elemento>
                      <tr>
                          <td>{{ elemento.id_detalle_evaluacion }}</td>
                          <td>{{ elemento.evidencia.id_evidencia }}</td>
                          <td>{{ elemento.observacion }}</td>
                          <td [ngClass]="{'rechazada': !elemento.estado, 'aprobada': elemento.estado}">
                              {{ elemento.estado ? 'Aprobada' : 'Rechazada' }}
                          </td>
                          <td>{{ elemento.fecha | date:'dd/MM/yyyy' }}</td>
                          <td>
                              {{ elemento?.usuario?.persona?.primer_nombre }}
                              {{ elemento?.usuario?.persona?.primer_apellido }}
                          </td>
                          <td>
                              <button class="btn btn-danger" style="background-color: red; margin-right: 5%" type="button"
                                      (click)="Eliminar(elemento)">
                                  <i class="fa fa-trash"></i>
                              </button>
                          </td>
                      </tr>
                  </ng-template>
              </p-table>
                <ng-container *ngIf="noRegistros">
                  <p>{{ noRegistros }}</p>
                </ng-container>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" pButton style="background-color: red; margin-right: 5%" class="btn btn-danger" data-bs-dismiss="modal">
                <i class="fas fa-times"></i> Cerrar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>