<div class="container">
  <mat-card class="card">
    <mat-card-header>
      <div class="header">
        <mat-card-title>Perfil de Usuario</mat-card-title>
        <mat-card-subtitle>Información personal</mat-card-subtitle>
      </div>
    </mat-card-header>
    <!-- <mat-divider></mat-divider> -->
    <mat-card-content class="contenido">
      <div class="row">
        <div class="col-md-6">
          <div class="profile-details">
            <div class="detail-item">
              <mat-icon>person</mat-icon>
              <span class="detail-label">Nombre:</span>
              <span class="detail-value">Juan Pérez</span>
            </div>
            <div class="detail-item">
              <mat-icon>account_circle</mat-icon>
              <span class="detail-label">Username:</span>
              <span class="detail-value">{{ user.username }}</span>
            </div>
            <div class="detail-item">
              <mat-icon>assignment_ind</mat-icon>
              <span class="detail-label">Cédula:</span>
              <span class="detail-value">123456789</span>
            </div>
            
          </div>
        </div>
        
        <div class="col-md-6">
          <div class="detail-item">
            <mat-icon>email</mat-icon>
            <span class="detail-label">Correo:</span>
            <span class="detail-value">juanperez@gmail.com</span>
          </div>
          <div class="profile-details">
            <div class="detail-item">
              <mat-icon>location_on</mat-icon>
              <span class="detail-label">Dirección:</span>
              <span class="detail-value">Calle 123 #45-67</span>
            </div>
            <div class="detail-item">
              <mat-icon>phone</mat-icon>
              <span class="detail-label">Celular:</span>
              <span class="detail-value">+57 321 123 4567</span>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
