

.detail-item {
    padding: 10px;
    text-shadow: 10cap;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.detail-label {
    font-weight: bold;
    margin-right: 8px;
}

.profile-details {
    display: flex;
    flex-direction: column;
}
.contenido{
    padding-top: 25px;
}