<div *ngIf="model">
  <b> ID: {{model.id_modelo}}</b>
  <br>
  <b> NOMBRE : {{model.nombre}}</b>
  <br>
  <b> FECHA INICIO: {{model.fecha_inicio}}</b>
  <br>
  <b> FECHA FIN: {{model.fecha_fin}}</b>
</div>
<br>

<div class="container">

  <button
         type="button" class="btn btn-outline-primary"
        (click)="verCriterios()">
     
      Regresar
   </button>
      <br>
      <br>
<table border="1px" class="table">
<thead class="table-dark">
  
  <tr>
    <th>Id Indicador</th>
    <th>Nombre de Indicador</th>
    <th >Peso </th>
   
    <th>% Valor Obtenido</th>
    <th>% Utilidad Obtenido</th>
    <th>Valor obtenido </th>
  </tr>
</thead>
<tbody>
 
  <tr  *ngFor="let column of dataSource">
    <td>{{column.id_indicador}}</td>
    <td>{{column.nombre}}</td>
    <td>{{column.peso}}</td>
  
      <td [class.color-verde]="column.color === 'verde'" [class.color-rojo]="column.color === 'rojo'" [class.color-naranja]="column.color === 'naranja'"  [class.color-amarillo]="column.color === 'amarillo'">{{ column.porc_obtenido }} %</td>
  
   
    <td>{{column.porc_utilida_obtenida}}</td>
    <td>{{column.valor_obtenido}}</td>
  
  </tr>

</tbody>


</table>
</div>
<br>
<br>
<h1 style="text-align: center;">Grafica de pastel por Criterios</h1>
<div>
  <canvas id="pastel"></canvas>
</div>
<br>
<br>
<h1 style="text-align: center;">Grafica de Barras Por Categorias</h1>

<div class="chart-container">
  <canvas  id="MyChart" >{{ chart }}</canvas>
</div>

