<body>
  <main>
    
  </main>
  <footer class="pie-pagina">
    <div class="grupo-1">
      <div class="box">
        <figure>
          <a>
            <img src="./assets/img/logosanta_isabel.png">
          </a>
        </figure>
      </div>
      <div class="box">
        <div>
          <h2>GOBIERNO AUTÓNOMO DESCENTRALIZADO MUNICIPAL</h2>
        </div>
        <br>
        <p style="position: relative;">
          <img src="./assets/img/icono_ubicacion.png"
            style="width: 20px; position: absolute; left: -30px; top: 50%; transform: translateY(-50%);"
            alt="Ubicación">
          DIRECCIÓN: Calle 3 de Noviembre y 24 de Mayo CANTÓN SANTA ISABEL-AZUAY-ECUADOR
        </p>
        <p style="position: relative;">
          <img src="./assets/img/icono_telefono.png"
            style="width: 20px; position: absolute; left: -30px; top: 50%; transform: translateY(-50%);" alt="Teléfono">
          TELÉFONO: 072270412 info@santaisabel.gob.ec
        </p>
        <p style="position: relative;">
          <img src="./assets/img/icono_reloj.png"
            style="width: 20px; position: absolute; left: -30px; top: 50%; transform: translateY(-50%);" alt="Horario">
          HORARIOS DE ATENCIÓN: Lunes a Viernes de 08h00 a 17h00
        </p>
      </div>
      <div class="box" style="margin-left: 50px;">
        <h2>REDES SOCIALES</h2>
        <br>
        <div class="redes-sociales">
          <a href="https://www.facebook.com/santaisabelalcaldia" target="_blank">
            <img src="./assets/img/logosanta_facebook.png" style="width: 50px;">
          </a>
          <a href="https://www.instagram.com/santaisabelturismo/?igshid=MzRlODBiNWFlZA%3D%3D" target="_blank">
            <img src="./assets/img/logosanta_instagram.png" style="width: 50px;">
          </a>
        </div>
      </div>
    </div>
  </footer>
</body>

