<body>
  <div class="container bg-light border border-start-0 rounded-4">
    <blockquote class="blockquote text-dark" style="margin-top: 5%">
      <h1><strong> Actividades </strong></h1>
    </blockquote>
    <div></div>
    <div class="card">
      <div class="card-body">
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="Buscar..."
            [(ngModel)]="searchTerm"
            (input)="filterActividades()"
          />
        </div>
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Descripcion</th>
              <th>Ver mas</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let actividad of filteredActividades">
              <td>{{ actividad.nombre }}</td>
              <td>{{ actividad.descripcion }} </td>

              <td>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-bs-toggle="modal"
                  data-bs-target="#staticBackdrop"
                >
                  Ver
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div
    class="modal fade"
    id="staticBackdrop"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-blue">
          <h3 class="modal-title">
            <i class="fa-solid fa-clipboard"></i>Mas informacion
          </h3>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body" *ngFor="let actividad of actividades">
          <div>{{ actividad.fecha_inicio }}</div>
        </div>
        <div></div>
      </div>
    </div>
  </div>
</body>
