<body>
  <div class="container bg-light border border-start-0 rounded-4">
    <blockquote class="blockquote text-dark" style="margin-top: 5%">
      <h1><strong> LISTADO DE RESPONSABLES </strong></h1>
    </blockquote>
    <div></div>
    <div class="card">
      <div class="card-body">
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="Buscar..."
            [(ngModel)]="searchTerm"
        
          />
        </div>
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Usuario</th>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Correo</th>
              <th>Actividades</th>
              
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of responsable | buscar : searchTerm">
              <td>{{ item.username }}</td>
              <td>{{ item.persona.primer_nombre }} </td>
              <td>{{ item.persona.primer_apellido }} </td>
              <td>{{ item.persona.correo }} </td>

              <td>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-bs-toggle="modal"
                  data-bs-target="#staticBackdrop"
                  (click)="listaAct(item)"
                >
                  Ver
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div
    class="modal fade"
    id="staticBackdrop"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-blue">
          <h3 class="modal-title">
            <i class="fas fa-clipboard"></i>Actividades Asignadas
          </h3>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>

        <div class="card">
          <div class="card-body">

              <div role="search" id="buscar">

                  <input class="form-control" type="text" placeholder="Buscar" aria-label="Search"
                      [(ngModel)]="searchText" />

              </div>
              <br />
              
              <br />
              <br />
              <table class="table table-hover">
                  <thead>
                      <tr>
                          <th class="text-center">Código</th>
                          <th class="text-center">Nombre</th>
                          <th class="text-center">Fecha Inicio</th>
                          <th class="text-center">Fecha Fin</th>

                      </tr>
                  </thead>
                  <tbody>
                      <tr class="text-center text-start" *ngFor="let item of actividades | buscar : searchText">
                          <td>{{item.id_actividad}}</td>
                          <td>{{item.nombre}}</td>
                          <td>{{item.fecha_inicio}}</td>
                          <td>{{item.fecha_fin}}</td>



                      </tr>
                  </tbody>
              </table>

          </div>
      </div>

      </div>
    </div>
  </div>
</body>
