@media (max-width: 768px) {
  .navbar-collapse {
    justify-content: space-between;
    flex-basis: 100%;
    flex-grow: 1;
  }

  #notifications-modal-container {
    background-color: rgba(0, 0, 0, 0.5); /* fondo oscuro semi-transparente */
    display: flex;
    justify-content: flex-end; /* centra horizontalmente */
    align-items: center; /* centra verticalmente */
    position: absolute; /* posición absoluta para sobremontar al header */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 40px; width: 100%; top: 60px;
  }

  
  .navbar-nav {
    margin: 0;
    justify-content: flex-end;
  }

  .navbar-nav .nav-item {
    margin-left: 0;
    margin-right: 1rem;
  }

  .navbar-toggler {
    order: 1;
  }

  .order-md-last {
    order: 2;
  }
}
