<mat-toolbar color="width" class="d-flex justify-content-between">
  <mat-card-content>
    <a><img src="./assets/img/LOGO RECTANGULAR_SIN FONDO.png" *ngIf="isLoggedIn"  height="40px" width="130px"></a>
  </mat-card-content>

  <div class="ml-auto d-flex align-items-center">
    <a><img src="./assets/img/img_user.png" *ngIf="isLoggedIn" height="30px" width="50px"></a>
    {{ user.username }}
  </div>
  <div class="btn-group" role="group" aria-label="Button group with nested dropdown" style="padding-left: 25px;">
    <button mat-icon-button (click)="showNotificationsModal = !showNotificationsModal">
      <mat-icon>notifications</mat-icon>
      <span *ngIf="numNotificacionesSinLeer > 0" class="badge badge-pill badge-danger">{{ numNotificacionesSinLeer }}</span>
    </button>
  </div>

  <div class="btn-group" role="group" aria-label="Button group with nested dropdown" style="padding-left: 25px;">
    <div class="btn-group" role="group">
      <button *ngIf="isLoggedIn" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="color: white;"></button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/userprofile">Perfil</a></li>
        <li><a class="dropdown-item" *ngIf="isLoggedIn" (click)="logout()">Cerrar sesión</a></li>
      </ul>
    </div>
  </div>

</mat-toolbar>
<mat-dialog-content>

<!-- Modal de notificaciones -->
<mat-dialog [ngClass]="{'show': showNotificationsModal}" 
*ngIf="showNotificationsModal" (closed)="closeNotifications()" aria-label="Notificaciones" style="max-width: 300px; width: 100%; position: absolute; top: 60px; right: 75px; background-color: white;">
  <h2 mat-dialog-title>Notificaciones</h2>
  <mat-dialog-content style="padding: 16px;">
    <ul *ngIf="notificaciones && notificaciones.length > 0">
      <li *ngFor="let notificacion of notificaciones">{{notificacion.mensaje}}</li>
    </ul>
    <p *ngIf="!notificaciones || notificaciones.length === 0">No hay notificaciones</p>
  </mat-dialog-content>
</mat-dialog>
