<mat-toolbar color="width" class="d-flex justify-content-between">
  <mat-card-content>
    <a><img src="./assets/img/LOGO RECTANGULAR_SIN FONDO.png" *ngIf="isLoggedIn"  height="40px" width="130px"></a>
  </mat-card-content>

  <div class="ml-auto d-flex align-items-center">
    <a><img src="./assets/img/img_user.png" *ngIf="isLoggedIn" height="30px" width="50px"></a>
    {{ user.username }}
  </div>
  <div class="btn-group" role="group" aria-label="Button group with nested dropdown" style="padding-left: 25px;">
    <div class="btn-group" role="group">
      <button *ngIf="isLoggedIn" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="color: white;"></button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/userprofile">Perfil</a></li>
        <li><a class="dropdown-item" *ngIf="isLoggedIn" (click)="logout()">Cerrar sesión</a></li>
      </ul>
    </div>
  </div>
</mat-toolbar>
