.header-container {
  display: flex;
  margin: 10px 10px; /* Add some top and bottom margin for spacing */
}

/* Styles for the header */
.header-title {
  font-size: 30px;
  font-weight: bold;
  color:rgb(9, 70, 9); /* You can choose your preferred color */
  text-align: left;
}