<body>
    <div class="container bg-light border border-start-0 rounded-4">
      <div class="container text-center">
      </div>

      <figure
      class="text-center text-dark"
      style="margin-top: 5%; font-style: italic"
    >
      <blockquote class="blockquote text-dark">
        <h1><strong> EVIDENCIAS RECHAZADAS</strong></h1>
      </blockquote>
    </figure>




    <div class="container text-center">
        <div class="mat-elevation-z8" style="margin-bottom: 10%">
          <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="id_evidencia">
              <th mat-header-cell *matHeaderCellDef>ID</th>
              <td mat-cell *matCellDef="let elemento">
                {{ elemento.id_evidencia }}
              </td>
            </ng-container>
  
            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef>NOMBRE</th>
              <td mat-cell *matCellDef="let elemento">{{ elemento.nombre }}</td>
            </ng-container>
            <ng-container matColumnDef="enlace">
              <th mat-header-cell *matHeaderCellDef>ENLACE</th>
              <td mat-cell *matCellDef="let elemento">{{ elemento.enlace}}</td>
            </ng-container>
            <ng-container matColumnDef="descripcion">
              <th mat-header-cell *matHeaderCellDef>DESCRIPCIÓN</th>
              <td mat-cell *matCellDef="let elemento">{{ elemento.descripcion }}</td>
            </ng-container>
            <ng-container matColumnDef="estado">
                <th mat-header-cell *matHeaderCellDef>ESTADO</th>
                <td mat-cell *matCellDef="let elemento">{{ elemento.estado }}</td>
              </ng-container>
              <ng-container matColumnDef="observaciones">
                <th mat-header-cell *matHeaderCellDef>OBSERVACIONES</th>
                <td mat-cell *matCellDef="let elemento">{{ elemento.observaciones }}</td>
              </ng-container>
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef>ACCIONES</th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button type="button" style="background-color: rgb(238, 169, 41)">
                    <mat-icon>edit</mat-icon>
                  </button>
                  
              </td>
            </ng-container>
  
            <tr mat-header-row *matHeaderRowDef="columnas"></tr>
            <tr mat-row *matRowDef="let fila; columns: columnas"></tr>
          </table>
  
          <mat-paginator
            [pageSizeOptions]="[5, 10, 20]"
            showFirstLastButtons
            aria-label="Select page of periodic elements"
          >
          </mat-paginator>
        </div>
  
   
      </div>













    </div>
</body>