body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }
  
  
  
  
  .box div {
    position: absolute;
    width: 38px;
    height: 38px;
    background-color: transparent;
    border: 1px solid #FFFF;
    border-radius: 30%;
  }
  
  h1 {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #07275f;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  label {
    display: inline-block;
    position: relative;
    border-radius: 20px;
    background-color: white;
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid black;
    width: 30%;
  }
  
  .bg-color {
    background-color: #f2f2f2;
  }
  
  .bg-color table {
    background-color: white;
  }
  
  
  
  h1 {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #07275f;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .content {
  max-width: 1500px;
  margin: 20px 20px;
  border: 2px solid #060606;
  padding: 10px;
  border-radius: 10px;
  }
  .principal i {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 30px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  
  input[type="text"] {
    border: none;
    outline: none;
    font-size: 16px;
    padding: 0;
    margin: 0;
    width: 90%;
    background-color: white;
  }
  
  input[type="text"]::placeholder {
    color: #999;
  }
  
  .content {
    max-width: 1400px;
    margin: 20px auto;
    border: 2px solid #060606;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
  }
  
  
  /* Estilos de la tabla */
  custom-table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
  }
  
  .custom-table th,
  .custom-table td {
    border: 1px solid #000000;
    padding: 5px;
    text-align: center;
    
  }
  
  .custom-table th {
    background-color: rgba(242, 242, 242, 0.5);
    font-weight: bold;
    color: #000000;
  }
  
  .custom-table td {
    font-size: 16px;
    color: #000000;
  }
  
  .custom-table tbody tr:nth-child(even) {
    background-color: rgba(22, 15, 15, 0.5);
  }
  
  .custom-table th:first-child,
  .custom-table td:first-child {
    border-left: none;
    text-align: center;
  }
  
  .custom-table th:last-child,
  .custom-table td:last-child {
    border-right: none;
  }
  
  .custom-table tr:first-child th,
  .custom-table tr:first-child td {
    border-top: none;
  }
  
  .custom-table tr:last-child th,
  .custom-table tr:last-child td {
    border-bottom: none;
  }
  
  .custom-table th {
    font-weight: bold;
    text-align: center;
  }
  
  .custom-table td {
    font-size: 16px;
  }
  
  .modal-title {
    color: #fff;
  }
  
  .modal-header {
    background: linear-gradient(90deg, rgba(69, 90, 100, 0.849) 0%, rgba(41, 67, 78, 0.747) 35%, rgba(33, 51, 55, 0.733));
    color: white;
    text-align: center;
    border-bottom: none;
  }
  
  
  .modal-content {
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid #060606;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
  }
  
  .custom-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-bottom: 10px;
  }
  
  
  