<div class="table-container">
  <p-card>
    <h1 class="center-text">DETALLE DEL MODELO</h1>
    <div *ngIf="model">
      <div class="container mt-4">
        <!---<div class="row mb-2">
          <div class="col">
            <b>ID: {{ model.id_modelo }}</b>
          </div>
        </div>-->

        <div class="row mb-2">
          <div class="col">
            <b>Nombre: </b> <span class="non-bold">{{ model.nombre }}</span>
          </div>
        </div>
        <hr />
        <div class="row mb-2">
          <div class="col">
            <b>Fecha incio: </b> <span class="non-bold">{{ model.fecha_inicio | customDate }}</span>
          </div>
        </div>
        <hr />
        <div class="row mb-2">
          <div class="col">
            <b>Fecha fin: </b> <span class="non-bold">{{ model.fecha_fin | customDate }}</span>
          </div>
        </div>
      </div>
      <div class="mt-4 button-container">
        <p-button styleClass="p-button-raised" (click)="irinicio()">
          <i class="fa fa-chevron-circle-left text-white icon-separated"></i>
          MODELOS
        </p-button>
        <p-button mat-icon-button (click)="irPonderacionModelo(model)" *ngIf="!ocultarBoton" class="boton">
          <mat-icon class="iconoB">assignment</mat-icon> PONDERACIÓN 
        </p-button>
      </div>
    </div>
  </p-card>
</div>

<ng-container *ngIf="mostrarPrincipal === 0; then template1; else template2"></ng-container>
<ng-template #template1>
  <div class="table-container">
    <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
      <ng-container matColumnDef="{{ column }}" *ngFor="let column of columnsToDisplay">
        <th mat-header-cell *matHeaderCellDef>{{ columnNames[column] }}</th>
        <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
      </ng-container>
      <ng-container matColumnDef="matriz">
        <th mat-header-cell *matHeaderCellDef aria-label="row actions" class="center-encabezado">
          Matriz de Evaluación
        </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="evaluacion($event, element)" class="boton">
            <mat-icon class="iconoB">check_circle</mat-icon>
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="ponderacion">
        <th mat-header-cell *matHeaderCellDef aria-label="row actions" class="center-encabezado">
          Ponderación
        </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="ponderacionCriterio($event, element)" class="boton">
            <mat-icon class="iconoB">assignment</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="asignar">
        <th mat-header-cell *matHeaderCellDef aria-label="row actions" class="center-encabezado">
          Asignación
        </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="asignar_criterio($event, element)" class="boton">
            <mat-icon class="iconoB">account_box</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length"></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
      <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand" class="example-element-row"
        (click)="mostrar(element)"></tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>
  </div>
  <div class="table-container">
    <ng-container *ngIf="mostrarSecundario === 1; then template2"></ng-container>
  </div>
</ng-template>

<ng-template #template2>
  <h1>Reportes ponderación</h1>
  <table mat-table [dataSource]="dataSourcePonderacion" class="mat-elevation-z8">
    <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
    <!-- Position Column -->
    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef>Fecha de Reporte</th>
      <td mat-cell *matCellDef="let element">
        {{ element | date : "dd-MM-yyyy" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="revisar">
      <th mat-header-cell *matHeaderCellDef>Reporte</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="pond(element)" class="boton">
          <mat-icon class="iconoB">assignment</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</ng-template>