.tabla-contenedor {
    max-height: 400px; /* Altura máxima del contenedor */
    overflow-y: auto; /* Habilitar el scroll vertical */
  }
  
  .tabla-contenedor thead {
    /* Fijar el encabezado en su posición original */
    position: sticky;
    top: 0;
    background-color: #f8f8f8;
    z-index: 1;
  }

  
  .color-verde {
    background-color: rgb(0, 250, 0);
  }
  
  .color-rojo {
    background-color: rgb(241, 7, 7);
  }

  .color-naranja {
    background-color: rgb(247, 148, 1);
  }
  .color-amarillo {
    background-color: rgb(255, 251, 1);
  }

  .cuadro-verde{
    width: 20px;
    height: 20px;
    background-color: green; /* O el color que desees para los valores mayores a 75 */
    display: inline-block;
    margin-left: 10px;
  }
  .cuadro-amarillo {
    width: 20px;
    height: 20px;
    background-color: yellow; /* O el color que desees para los valores mayores a 75 */
    display: inline-block;
    margin-left: 10px;
  }
  .cuadro-naranja {
    width: 20px;
    height: 20px;
    background-color: orange; /* O el color que desees para los valores mayores a 75 */
    display: inline-block;
    margin-left: 10px;
  }
  .cuadro-rojo {
    width: 20px;
    height: 20px;
    background-color: red; /* O el color que desees para los valores mayores a 75 */
    display: inline-block;
    margin-left: 10px;
  }
  
  
  