



  <div class="container">

    
<h1 style="text-align: center;">LISTA DE CORTES</h1>
<br>
<br>
<div>

  <ng-container *ngFor="let column of dataSource; let i = index">
    <ng-container *ngIf="i === 0 || column.fecha !== dataSource[i - 1].fecha">
      <div><b>Fecha: {{ column.fecha }}</b></div>
    </ng-container>
  </ng-container>
  
    
    Mayores a 75%<div class="cuadro-verde"></div>  
    <br>
    Mayores a 50% y menor o igual a 75% <div class="cuadro-amarillo"></div>
    <br>
    Mayores a 25% y menor o igual a 50% <div class="cuadro-naranja"></div>
    <br>
    Menores o igual a 25% <div class="cuadro-rojo"></div>
  
</div>


<button class="btn btn-primary" (click)="irinicio()">
  <i class="fa fa-chevron-circle-left text-white"></i>
</button>

<br>
  
  <div  class="tabla-contenedor">
    <table id="miTabla" border="1px" class="table">
      <thead class="table-dark">
      
        <tr>
          <th>Criterio</th>
          <th>Subcriterio</th>
          <th>Nombre de Indicador</th>
          <th>Peso</th>
          <th>% Valor Obtenido</th>
          <th>% Utilidad Obtenido</th>
          <th>Valor obtenido</th>
        </tr>
      </thead>
      
      <tbody>
        <ng-container *ngFor="let column of dataSource; let i = index">
          <ng-container *ngIf="i === 0 || column.indicador.subcriterio.nombre !== dataSource[i - 1].indicador.subcriterio.nombre; else continueSubcriterio">
            <ng-container *ngIf="i === 0 || column.indicador.subcriterio.criterio.nombre !== dataSource[i - 1].indicador.subcriterio.criterio.nombre; else continueCriterio">
              <tr>
                <td [attr.rowspan]="getRowCountCriterio(column.indicador.subcriterio.criterio.nombre, i)">{{ column.indicador.subcriterio.criterio.nombre }}</td>
                <td [attr.rowspan]="getRowCountSubcriterio(column.indicador.subcriterio.nombre, i)">{{ column.indicador.subcriterio.nombre }}</td>
                <td>{{ column.indicador.nombre }}</td>
                
                <td>{{ column.peso }}</td>
                <td [class.color-verde]="column.color === 'verde'" [class.color-rojo]="column.color === 'rojo'" [class.color-naranja]="column.color === 'naranja'" [class.color-amarillo]="column.color === 'amarillo'">
                  {{ column.porc_obtenido }} %
                </td>
                
                <td>{{ column.porc_utilida_obtenida }}</td>
                <td>{{ column.valor_obtenido }}</td>
              </tr>
            </ng-container>
            <ng-template #continueCriterio>
              <tr>
                <td [attr.rowspan]="getRowCountSubcriterio(column.indicador.subcriterio.nombre, i)">{{ column.indicador.subcriterio.nombre }}</td>
                <td>{{ column.indicador.nombre }}</td>
                
                <td>{{ column.peso }}</td>
                <td [class.color-verde]="column.color === 'verde'" [class.color-rojo]="column.color === 'rojo'" [class.color-naranja]="column.color === 'naranja'" [class.color-amarillo]="column.color === 'amarillo'">
                  {{ column.porc_obtenido }} %
                </td>
                <td>{{ column.porc_utilida_obtenida }}</td>
                <td>{{ column.valor_obtenido }}</td>
              </tr>
            </ng-template>
          </ng-container>
          <ng-template #continueSubcriterio>
            <tr>
              <td>{{ column.indicador.nombre }}</td>
            
              <td>{{ column.peso }}</td>
              <td [class.color-verde]="column.color === 'verde'" [class.color-rojo]="column.color === 'rojo'" [class.color-naranja]="column.color === 'naranja'" [class.color-amarillo]="column.color === 'amarillo'">
                {{ column.porc_obtenido }} %
              </td>
              <td>{{ column.porc_utilida_obtenida }} %</td>
              <td>{{ column.valor_obtenido }}</td>
            </tr>
          </ng-template>
        </ng-container>
      </tbody>
      <tfoot>
        <ng-container >
          <tr>
            <td colspan="3">Total</td>
            <td  [ngClass]="{
              'color-verde': sumaTotalPesos <= 1 && sumaTotalPesos >0.75,
              'color-amarillo': sumaTotalPesos >0.50 && sumaTotalPesos <= 0.75,
              'color-naranja': sumaTotalPesos >0.25 && sumaTotalPesos <= 0.50,
              'color-rojo': sumaTotalPesos >0.01 && sumaTotalPesos <= 0.25
            }">{{ sumaTotalPesos.toFixed(2) }}</td>
            <td></td>
            <td>{{ sumaUtilidad.toFixed(2) }}</td>
          </tr>
        </ng-container>
      </tfoot>
    </table>
    
      </div>
    </div>

    <br>
<!--el estilo es para alinear las graficas en la misma direccion-->
<div style="display: flex; justify-content: space-between;">
  <div>
    <h1 style="text-align: center;">Grafica de pastel por Indicadores</h1>
    <div style="width: 500px; height: 500px;">
      <canvas id="pastel"></canvas>
    </div>
  </div>
  
  <div>
    <h1 style="text-align: center;">Grafica de Barras Por Criterios</h1>
    <div style="width: 500px; height: 500px;"class="chart-container">
      <canvas id="MyChart"></canvas>
    </div>
  </div>
</div>