<body>
    <div class="container bg-light border border-start-0 rounded-4">
      <blockquote class="blockquote text-dark" style="margin-top: 5%">
        <h1 style="text-transform: uppercase">
          <strong><a >LISTADO INDICADORES </a></strong>
        </h1>
      </blockquote>
      <div class="card">
        <div class="card-body">
          <div role="search" id="buscar">
            <div class="input-group">
              <input
                class="form-control"
                type="text"
                placeholder="Buscar"
                aria-label="Search"
                [(ngModel)]="searchText"
              />
            </div>
  
            <br />
          </div>
          <br />
          <table class="table table-hover">
            <thead>
              <tr>
                <th>ID</th>
                <th>CRITERIO</th>

                <th>SUBCRITERIO</th>
                <th>NOMBRE</th>
                <th>DESCRIPCION</th>
                <th>PESO</th>
                <th>ESTANDAR</th>
                <th>TIPO</th>
                
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let indicador of indicadors | buscar : searchText">
                <td>{{ indicador.id_indicador }}</td>
                <td>{{ indicador.subcriterio.criterio.nombre }}</td>

                <td>{{ indicador.subcriterio.nombre }}</td>
                <td>{{ indicador.nombre }}</td>
                <td>{{ indicador.descripcion }}</td>
                <td>{{ indicador.peso }}</td>
                <td>{{ indicador.estandar }}</td>
                <td>{{ indicador.tipo }}</td>
               
                
              </tr>
            </tbody>
          </table>
  
        </div>
      </div>
    </div>
  </body>
  