<body>
  <div class="container bg-light border border-start-0 rounded-4">
    <blockquote class="blockquote text-dark" style="margin-top: 5%">
      <h1><strong> Envio de Observacines</strong></h1>
    </blockquote>
    <div></div>
    <div class="card">
      <div class="card-body">

        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Buscar..." [(ngModel)]="searchTerm" />
        </div>
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Archivo</th>
              <th>Subido por</th>
              <th>Actividad</th>
              <th>Comentarios</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let a of personas">
              <td>
               <a  href="{{ a.enlace }}">{{a.enlace}}</a>aaaaaaaa
              </td>
              <td>
                {{a.archivos}} {{  a.primer_nombre}} {{a.primer_apellido }}
              </td>
              <td>

              </td>
              <td>

                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                  Comentar
                </button>
              </td>
            </tr>
          </tbody>

        </table>
      </div>
    </div>
  </div>
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-blue">
          <h3 class="modal-title">
            <i class="fa-solid fa-clipboard"></i>Envio de correos
          </h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="enviar()">
            <label for="toUser">Para:</label>
            <input type="email" id="toUser" name="toUser" [(ngModel)]="toUser" required />

            <label for="subject">Asunto:</label>
            <input type="text" id="subject" name="subject" [(ngModel)]="subject" required />

            <label for="message">Mensaje:</label>
            <textarea id="message" name="message" [(ngModel)]="message" required> </textarea>


          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit">Enviar</button>

        </form>
        </div>
        <div>
        </div>
      </div>
    </div>
  </div>
</body>
