<body>
  <div class="card">
    <h1 style="padding: 10px; text-align: center">
      <strong>Envio de Observacines</strong>
    </h1>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Buscar..." [(ngModel)]="searchTerm" />
      <div class="input-group-append">
        <button class="btn btn-primary" type="button">Buscar</button>
      </div>
    </div>
    <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Evidencia</th>
            <th>Comentarios</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let file of filterFiles(fileInfos | async)">
            <td>
              <a href="{{ file.url }}">{{ file.nombre }}</a>
            </td>
            <td>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                Comentar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  <div class="container">
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">
              Enviar correo
            </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form (ngSubmit)="enviar()">
              <label for="toUser">Para:</label>
              <input type="email" id="toUser" name="toUser" [(ngModel)]="toUser" required />

              <label for="subject">Asunto:</label>
              <input type="text" id="subject" name="subject" [(ngModel)]="subject" required />

              <label for="message">Mensaje:</label>
              <textarea id="message" name="message" [(ngModel)]="message" required> </textarea>

              <button type="submit">Send</button>
            </form>
          </div>
          <div class="modal-footer">
            <!-- <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">Close</button>
                                                    <button type="button" class="btn btn-primary">Understood</button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
