<h2 mat-dialog-title>Nuevo Modelo</h2>
<mat-dialog-content>
    <mat-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Crear nuevo modelo</ng-template>
                <form class="example-form">
                    <!-- crear un <mat form field> y guardar en el objeto modelo con ngModel -->
                    <mat-form-field class="example-full-width">
                        <mat-label>Nombre del modelo</mat-label>
                        <input matInput placeholder="Nombre del modelo" [(ngModel)]="modelo.nombre" name="nombre">
                    </mat-form-field>

                    <p>
                        <mat-form-field appearance="fill" class="example-full-width">
                            <mat-label>Fecha inicial:</mat-label>
                            <input matInput [matDatepicker]="dp1" [(ngModel)]="modelo.fecha_inicio" name="fecha_inicio">
                            <mat-hint>DD/MM/YYYY</mat-hint>
                            <mat-datepicker-toggle matIconSuffix [for]="dp1"></mat-datepicker-toggle>
                            <mat-datepicker #dp1 disabled="false"></mat-datepicker>
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field appearance="fill" class="example-full-width">
                            <mat-label>Fecha final:</mat-label>
                            <input matInput [matDatepicker]="dp2" [(ngModel)]="modelo.fecha_fin" name="fecha_fin">
                            <mat-hint>DD/MM/YYYY</mat-hint>
                            <mat-datepicker-toggle matIconSuffix [for]="dp2"></mat-datepicker-toggle>
                            <mat-datepicker #dp2 disabled="false"></mat-datepicker>
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field appearance="fill" class="example-full-width">
                            <mat-label>Fecha actividades:</mat-label>
                            <input matInput [matDatepicker]="dp3" [(ngModel)]="modelo.fecha_final_act"
                                name="fecha_final_act">
                            <mat-hint>DD/MM/YYYY</mat-hint>
                            <mat-datepicker-toggle matIconSuffix [for]="dp3"></mat-datepicker-toggle>
                            <mat-datepicker #dp3 disabled="false"></mat-datepicker>
                        </mat-form-field>
                    </p>
                </form>
            </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup" label="Configurar modelo">
            <div>
                <button mat-raised-button id="my-button" (click)="abrirDialogo()">Añadir Criterios</button>
            </div>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef> Nombre </th>
                    <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </mat-step>
    </mat-stepper>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-button cdkFocusInitial (click)="createModelo()">Guardar</button>
</mat-dialog-actions>