<div class="container">
  <form >
    <h1 class="titulo">CREAR USUARIOS</h1>
<!-- Agrega el botón de PrimeNG con el evento click que redirecciona a otra página -->
<p-button label="Listado"icon="pi pi-list" (onClick)="irAOtraPagina()"></p-button>

      <div class="form first">
          <div class="details personal">
                  <div class="fields">
                  <div class="input-field">
                      <label>Nombre</label>
                      <input type="text" placeholder="Ingrese el nombre" required>
                  </div>

                  <div class="input-field">
                      <label>Cedula</label>
                      <input type="text" placeholder="Ingrese la cedula" required>             
                         </div>

                  <div class="input-field">
                      <label>Email</label>
                      <input type="text" placeholder="Ingrese el email" required>
                  </div>

                  <div class="input-field">
                      <label>Apellido</label>
                      <input type="number" placeholder="Ingrese el apellido" required>
                   </div>

                  <div class="input-field">
                      <label>Rol</label>
                      <select required>
                          <option disabled selected>Selecione rol</option>
                          <option>Superadministrador</option>
                          <option>Administrador</option>
                          <option>Responsable</option>
                      </select>
                  </div>

                  <div class="input-field">
                      <label>Segundo nombre</label>
                      <input type="text" placeholder="segundo nombre" required>
                  </div>
          
                  <div class="input-field">
                    <label>Contraseña</label>
                    <input type="text" placeholder="Contraseña" required>
                </div>
        
                  <div class="input-field">
                      <label>Segundo apellido</label>
                      <input type="text" placeholder="segundo apellido" required>
                  </div>

                  <div class="input-field">
                      <label>Celular</label>
                      <input type="text" placeholder="Ingrese el celular" required>
                  </div>

                  <div class="input-field">
                      <label>Direccion</label>
                      <input type="text" placeholder="ingrese la direccion" required>
                  </div>
             </div>
             <p-button label="Crear" icon="pi pi-user-plus" type="submit" ></p-button>

          </div>
      </div>
  </form>
</div>
