<body>

  <div class="container bg-light border border-start-0 rounded-4">
    <div class="container text-center">
      <figure class="text-center text-dark" style="margin-top: 5%; font-style: italic">
        <blockquote class="blockquote text-dark">
          <h1><strong> EVIDENCIAS ASIGNADAS</strong></h1>
        </blockquote>
      </figure>
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Descripción</th>
                  <th>Actividad</th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let ev of evidencias">
                  <td>{{ ev.id_evidencia }}</td>
                  <td>{{ ev.descripcion }}</td>
                  <td><button class="btn btn-primary" role="button" (click)="verDetalles(ev)" [disabled]="botonDeshabilitado">
                      <div class="d-flex">
                        <span class="badge">
                        </span>
                        <i class="fa fa-folder-open"></i>
                      </div>
                    </button></td>

                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>

    </div>
  </div>
</body>
