.full-width{
  width: 100%;;
  padding: 6%;
}
.contenedor{
  display: flex;
  height: 500px;
  justify-content: space-between;
  border: none;
  background-color: inherit;
  padding-top: 20px;
}
.panel {
  width: 800px;
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
  border: none;
  background-color: inherit;

}
.panelform {
  display: flex; 
  justify-content: center; 
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .15);
  border-radius: 10px; /* Valor de redondez deseado */
}
.mat-form-field {
  border-radius: 20px;
}

.mat-input-element {
  border-radius: 20px;
}

button[type="submit"] {
  border-radius: 10px;
}




.div{
  border: none;
}