<body>
  <div class="">
    <div class=" ">

      <div >
        <div class="container contenedor " style="border: none;">
          <div class="panel">
            <div class="container text-center" >
              <img src="../../../assets/LOGO CUADRADO_SIN FONDO.png" width="70%" height="auto"  />
            </div>
            
          </div>
          <mat-card  class="panelform">
            <h1 class="text-center" style="margin-top: 2%;">Inicio de sesión</h1>
            <form (ngSubmit)="formSubmit()">
              <mat-form-field class="full-width"  appearance="outline">
                <mat-icon matPrefix class="mat-icon-start">account_circle</mat-icon>
                <mat-label>Nombre de usuario</mat-label>
                <input required [(ngModel)]="loginData.username" name="username" matInput placeholder="Digite su nombre de usuario">
              </mat-form-field>
              <mat-form-field class="full-width" appearance="outline">
                <mat-icon matPrefix class="mat-icon-start">lock</mat-icon>
                <mat-label>Contraseña</mat-label>
                <input [(ngModel)]="loginData.password" name="password" required type="password" matInput placeholder="Digite su contraseña" />
              </mat-form-field>
              <br /><br />
              <div class="container text-center">
                <button type="submit" mat-raised-button color="primary">Iniciar sesión</button>
              </div>
            </form>
          </mat-card>
        </div>

      </div>
    </div>
  </div>
</body>
