<body>
  <div class="card">
    <div class="header-container">
      <h1 class="header-title">LISTA DE INDICADORES</h1>
      <button pButton icon="pi pi-arrow-left" onclick="history.back()" style="background-color:  #e90017;"
        label="Regresar"></button>
    </div>
    <div class="header-container">
      <h2 class="header-title2">SUBPROYECTO: {{ subcriterio.nombre }} </h2>
    </div>
    <div class="card-body">
      <div role="search" id="buscar">
        <input class="form-control" type="text" placeholder="Buscar" aria-label="Search" (input)="busqueda($event)" />
        <br />
      </div>
      <button type="button" pButton class="btncrear" label="CREAR NUEVO INDICADOR" icon="pi pi-plus"
        data-bs-toggle="modal" data-bs-target="#materiaModal">
      </button>
      <br />
      <br />
      <div class="mat-elevation-z8 table-responsive" style="margin-bottom: 5%">
        <p-table [value]="indicadors" [rows]="4" [paginator]="true">
          <ng-template pTemplate="header">
            <tr>
              <th>ID</th>
              <th>NOMBRE</th>
              <th>DESCRIPCION</th>
              <th>PESO</th>
              <th>ESTANDAR</th>
              <th>TIPO</th>
              <th>ACCION</th>
              <th>EVALUACION</th>

            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-indicador>
            <tr>
              <td>{{ indicador.id_indicador }}</td>
              <td>{{ indicador.nombre }}</td>
              <td>{{ indicador.descripcion }}</td>
              <td>{{ indicador.peso }}</td>
              <td>{{ indicador.tipo }}</td>
              <td>{{ indicador.estandar }}</td>
              
              <!-- <td>
                <button pButton type="button" class="btn btn-primary" (click)="verEvidencias(indicador)">
                  <span class="badge">{{ getEvidenciaPorIndicador(indicador) }}</span>
                  <i class="fa fa-folder-open"></i>
                </button>
              </td> -->
              <td>
                <button pButton type="button" class="p-button-rounded p-button-secondary" data-bs-toggle="modal"
                  data-bs-target="#materiaModal" (click)="editDatos(indicador)" icon="pi pi-file-edit">
                </button>
                <button pButton type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger"
                  (click)="eliminar(indicador)">
                </button>
              </td>
              <td *ngIf="indicador.tipo !== 'cualitativa'">
                <button pButton type="button" class="btn btn-primary" (click)="verEvaluacion(indicador)">
                  <i class="fa fa-cog"></i>
                </button>
              </td>
            
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div class="modal fade" id="materiaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
        (hidden.bs.modal)="limpiarFormulario()">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header ">
              <h3 class="modal-title">
                <i class="fas fa-clipboard"></i> Indicador
              </h3>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form [formGroup]="frmIndicador" (ngSubmit)="guardar()" id="formulario">
                <div>
                  <label for="nombre">Nombre:</label>
                  <input class="form-control" formControlName="nombre" type="text" id="nombre" name="nombre"
                    style="margin-bottom: 10px" />
                  <div class="alert alert-danger" *ngIf="
                        frmIndicador.controls['nombre'].invalid &&
                        frmIndicador.controls['nombre'].touched
                      ">
                    <div *ngIf="
                          frmIndicador.controls['nombre'].hasError('required')
                        ">
                      Debe ingresar un nombre
                    </div>
                  </div>
                  <label for="descripcion">Descripción:</label>
                  <textarea class="form-control" formControlName="descripcion" id="descripcion" name="descripcion"
                    style="margin-bottom: 10px"></textarea>
                  <div class="alert alert-danger" *ngIf="
                        frmIndicador.controls['descripcion'].invalid &&
                        frmIndicador.controls['descripcion'].touched
                      ">
                    <div *ngIf="
                          frmIndicador.controls['descripcion'].hasError(
                            'required'
                          )
                        ">
                      La descripcion no puede estar vacia
                    </div>
                    <div *ngIf="
                          frmIndicador.controls['descripcion'].hasError(
                            'maxlength'
                          )
                        ">
                      Excedio el numero de caracteres permitido
                    </div>
                  </div>

                  <label for="peso">Peso:</label>
                  <input class="form-control" formControlName="peso" type="number" id="peso" name="peso"
                    style="margin-bottom: 10px" />
                  <div class="alert alert-danger" *ngIf="
                        frmIndicador.controls['peso'].invalid &&
                        frmIndicador.controls['peso'].touched
                      ">
                    <div *ngIf="
                          frmIndicador.controls['peso'].hasError('required')
                        ">
                      Debe ingresar un peso
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="tipo">Tipo:</label>
                    <select class="form-control" formControlName="tipo" id="tipo" name="tipo"
                      [(ngModel)]="selectedTipo">
                      <option value="cualitativa">Cualitativa</option>
                      <option value="cuantitativa">Cuantitativa</option>
                    </select>
                    <div class="alert alert-danger" *ngIf="
                          frmIndicador.controls['tipo'].invalid &&
                          frmIndicador.controls['tipo'].touched
                        ">
                      <div *ngIf="
                            frmIndicador.controls['tipo'].hasError('required')
                          ">
                        Debe ingresar un tipo
                      </div>
                    </div>
                  </div>

                  <label for="peso" *ngIf="selectedTipo === 'cuantitativa'">Estandar:</label>
                  <input class="form-control" formControlName="estandar" type="number" id="estandar" name="estandar"
                    style="margin-bottom: 10px" *ngIf="selectedTipo === 'cuantitativa'" />
                  <div class="alert alert-danger" *ngIf="
                        frmIndicador.controls['estandar'].invalid &&
                        frmIndicador.controls['estandar'].touched &&
                        selectedTipo === 'cuantitativa'
                      ">
                    <div *ngIf="
                          frmIndicador.controls['estandar'].hasError('required')
                        ">
                      Debe ingresar un estandar
                    </div>
                  </div>
                </div>
              </form>
              <div class="modal-footer">
                <button type="button" pButton form="formulario" icon="pi pi-times " class="btncancelar"
                  data-bs-dismiss="modal">
                  Cancelar
                </button>
                <button type="submit" pButton class="btnsubpro" form="formulario" *ngIf="!indic.id_indicador"
                  data-dismiss="modal" data-bs-dismiss="modal"
                  [disabled]="!frmIndicador.valid || (selectedTipo === 'cuantitativa' && !frmIndicador.controls['estandar'].value)">
                  Agregar
                </button>
                <button pButton icon="pi pi-check" class="btnsubpro" *ngIf="indic.id_indicador" data-dismiss="modal"
                  data-bs-dismiss="modal" (click)="actualizar()" [disabled]="!frmIndicador.valid">
                  Actualizar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>