<div class="container">
  <h1 style="text-align: center;">DETALLE DE INDICADORES</h1>

  
  <div class="detalle">
    <br>

    <table class="table">
      <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>NOMBRE</th>
          <th>DESCRIPCION</th>
          <th>PESO</th>
          <th>VALOR OBTENIDO</th>
          <th>% VALOR OBTENIDO</th>
          <th>ESTANDAR</th>
          <th>TIPO</th>
          <th>REGRESAR</th>
          

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let indicador of dataSource">
          <td> <input type="text" {{ indicador.id_indicador }}></td>
          <td>{{ indicador.nombre }}</td>
          <td>{{ indicador.descripcion }}</td>
          <td>{{ indicador.peso }}</td>
          <td> {{ indicador.valor_obtenido }}</td>
          <td [class.color-verde]="indicador.color === 'verde'" 
          [class.color-rojo]="indicador.color === 'rojo'"
            [class.color-naranja]="indicador.color === 'naranja'"
            [class.color-amarillo]="indicador.color === 'amarillo'">{{ indicador.porc_obtenido }} %</td>
          <td>{{ indicador.estandar }}</td>
          <td>{{ indicador.tipo }}</td>
          <td>
        <button class="btn btn-primary"  type="button" (click)="verSubcriterios1(indicador)">
        <i  class="fa fa-chevron-circle-left"></i></button>
         </td>
         </tr>
      </tbody>
    </table>
  </div>