<body>
  <div class="container bg-light border border-start-0 rounded-4">
    <blockquote class="blockquote text-dark" style="margin-top: 5%">
      <h1 style="text-transform: uppercase">
        <strong><a>REPORTE POR CRITERIO </a></strong>
      </h1>
    </blockquote>
    <div class="card">
      <div class="card-body">
        <div class="d-flex">
          <div class="dropdown">
            <button
              class="btn btn-secondary dropdown-toggle"
              type="button"
              id="dropdownMenuButton"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Seleccione criterios
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a
                class="dropdown-item"
                *ngFor="let crit of criterios"
                (click)="toggleCriterioSelection(crit)"
              >
                <span class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    [checked]="isCriterioSelected(crit)"
                  />
                  <label class="form-check-label">{{ crit.nombre }}</label>
                </span>
              </a>
            </div>
          </div>

          <button
            type="button"
            class="btn btn-primary"
            (click)="buscarPorCriterio()"
            style="margin-left: 2%;"
          >
            Buscar criterios seleccionados
          </button>
          <button
            type="button"
            class="btn btn-primary ml-auto"
            (click)="generarInforme()"
            
          >
          <i class="fa fa-file-pdf"></i>
            Generar pdf
          </button>
          <br />
        </div>
        <br />
        <div
          class="mat-elevation-z8 table-responsive"
          style="margin-bottom: 5%"
        >
          <table class="table table-hover">
            <thead>
              <tr>
                <th>CRITERIO</th>
                <th>SUBCRITERIO</th>
                <th>INDICADOR</th>
                <th>DESCRIPCION</th>
                <th>VALOR OBTENIDO</th>
                <th>PORCENTAJE OBTENIDO</th>
                <th>PORCENTAJE UTILIDAD</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let indicador of indicadors | buscar : searchText">
                <td>{{ indicador.subcriterio.criterio.nombre }}</td>
                <td>{{ indicador.subcriterio.nombre }}</td>
                <td>{{ indicador.nombre }}</td>
                <td>{{ indicador.descripcion }}</td>
                <td>{{ indicador.valor_obtenido }}</td>
                <td>{{ indicador.porc_obtenido }}</td>
                <td>{{ indicador.porc_utilida_obtenida }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</body>
