<body>
  <div class="container bg-light border border-start-0 rounded-4">
    <h3 style="text-transform: uppercase">
      <a (click)="verCriterios()">LISTADO CRITERIOS </a>
      >
      <a (click)="verSubcriterios()"
        >{{ indicador.subcriterio?.criterio?.nombre }}
      </a>
      >
      <a (click)="verIndicadores()">{{ indicador.subcriterio?.nombre }} </a>
      >
      <a>{{ indicador.nombre }}</a>
      >
      <a></a>
    </h3>
    <blockquote class="blockquote text-dark" style="margin-top: 2%">
      <h1>
        <strong
          >Evaluacion Cuantitativa del Indicador: {{ indicador.nombre }}</strong
        >
      </h1>
    </blockquote>

    <div class="card">
      <div class="card-body">
        <div class="button-group w-100 d-flex">
          <blockquote class="blockquote text-dark">
            <p>Configuración de la formula</p>
          </blockquote>
          <i
            class="fa fa-info-circle"
            style="font-size: 1em; cursor: pointer"
            (click)="info()"
          ></i>
        </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-11">
              <div class="input-group">
                <span
                  class="input-group-text rounded-4"
                  style="width: 15%; margin-right: 0.5%"
                  >Fórmula
                </span>

                <textarea
                  placeholder="Seleccione los operadores y varables necesarias.
            Ejm: variable1+variable2*(variable3/5.5)"
                  class="form-control rounded-4"
                  aria-label="With textarea"
                  [(ngModel)]="formula"
                  name="formula"
                  disabled
                ></textarea>
              </div>
              <div class="input-group" style="padding-top: 1%">
                <span
                  class="input-group-text rounded-4"
                  style="width: 15%; margin-right: 0.5%"
                  >Descripcion</span
                >
                <textarea
                  class="form-control rounded-4"
                  aria-label="With textarea"
                  [(ngModel)]="descripcion"
                  name="descripcion"
                ></textarea>
              </div>
            </div>
            <div class="col">
              <div>
                <button
                  class="btn btn-danger rounded-4"
                  style="width: 100%; margin: 1%"
                  (click)="borrarUltimoCaracter()"
                >
                  <i class="fa fa-eraser" style="font-size: 1.5em"></i>
                </button>
              </div>
              <div>
                <button
                  class="btn btn-info rounded-4"
                  style="width: 100%; margin-bottom: 1%; margin-top: 1%"
                  (click)="test()"
                >
                  <i class="fas fa-cog" style="font-size: 1.5em"></i>
                </button>
              </div>
              <div>
                <button
                  class="btn btn-primary rounded-4"
                  style="width: 100%; margin: 1%"
                  (click)="guardarFormula()"
                >
                  <i class="fa fa-file" style="font-size: 1.5em"></i>
                </button>
              </div>
            </div>
          </div>
        </div>

        <br />
        <div class="container-fluid">
          <div class="row">
            <div class="col">
              <div class="button-group w-100 d-flex">
                <blockquote class="blockquote text-dark">
                  <p>Operadores</p>
                </blockquote>
                <i
                  class="fa fa-info-circle"
                  style="font-size: 1em; cursor: pointer"
                  (click)="infooperadores()"
                ></i>
              </div>
              <div
                class="container bg-light border border-start-0 rounded-4"
                style=""
              >
                <br />
                <div class="button-group w-100 d-flex" style="margin: 1%">
                  <button
                    type="button"
                    class="btn btn-outline-dark flex-fill mx-1"
                    (click)="agregarOperador('+')"
                  >
                    +
                  </button>
                  <button
                    type="button"
                    class="btn btn-outline-dark flex-fill mx-1"
                    (click)="agregarOperador('-')"
                  >
                    -
                  </button>
                </div>
                <div class="button-group w-100 d-flex" style="margin: 1%">
                  <button
                    type="button"
                    class="btn btn-outline-dark flex-fill mx-1"
                    (click)="agregarOperador('/')"
                  >
                    /
                  </button>
                  <button
                    type="button"
                    class="btn btn-outline-dark flex-fill mx-1"
                    (click)="agregarOperador('*')"
                  >
                    *
                  </button>
                </div>
                <div class="button-group w-100 d-flex" style="margin: 1%">
                  <button
                    type="button"
                    class="btn btn-outline-dark flex-fill mx-1"
                    (click)="agregarParentesis('(')"
                  >
                    (
                  </button>
                  <button
                    type="button"
                    class="btn btn-outline-dark flex-fill mx-1"
                    (click)="agregarParentesis(')')"
                  >
                    )
                  </button>
                </div>
                <br />
                <p style="">- Valores Numéricos:</p>

                <div class="button-group w-100 d-flex" style="margin: 1%">
                  <div class="d-flex mx-1">
                    <input
                      placeholder="Ingrese"
                      class="form-control"
                      type="number"
                      id="descripcion"
                      name="descripcion"
                      style="padding: 5px"
                      #descripcionInput
                    />
                    <button
                      type="button"
                      class="btn btn-primary"
                      (click)="agregarDescripcion(descripcionInput.value)"
                    >
                      Agregar
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-9">
              <div class="button-group w-100 d-flex">
                <blockquote class="blockquote text-dark">
                  <p style="">Variables Cuantitativas</p>
                </blockquote>
                <i
                  class="fa fa-info-circle"
                  style="font-size: 1em; cursor: pointer"
                  (click)="infocuantitativas()"
                ></i>
              </div>
              <div class="container bg-light border border-start-0 rounded-4">
                <div role="search" id="buscar2" style="margin-top: 2%">
                  <input
                    class="form-control"
                    type="text"
                    placeholder="Buscar"
                    aria-label="Search"
                    [(ngModel)]="searchText"
                    name="SearchText"
                  />
                </div>
                <button
                  type="button w-100"
                  class="btn btn-primary"
                  data-bs-toggle="modal"
                  data-bs-target="#materiaModal"
                  style="margin: 5px"
                  (click)="listarCaunti()"
                >
                  Agregar Variable
                </button>
                <button
                  type="button w-100"
                  class="btn btn-primary"
                  style="margin: 5px"
                  (click)="irCuantitativas()"
                >
                  Crear Variable
                </button>
                
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>ABREVIATURA</th>
                      <th>DESCRIPCION</th>
                      <th>ACCIONES</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="
                        let valor of listaEvaluarCuant | buscar : searchText
                      "
                    >
                      <td>{{ valor.cuantitativa?.abreviatura }}</td>
                      <td>{{ valor.cuantitativa?.descripcion }}</td>
                      <td>
                        <div class="btn-group" role="group">
                          <button
                            class="btn btn-danger"
                            style="background-color: red; margin-right: 5%"
                            role="button"
                            (click)="eliminarevacuant(valor)"
                          >
                            <i class="fa fa-trash"></i>
                          </button>
                          <button
                            class="btn btn-primary"
                            role="button"
                            data-dismiss="modal"
                            data-bs-dismiss="modal"
                            (click)="agregarValor(valor)"
                          >
                            <div class="d-flex">
                              <i class="fa fa-check"></i>
                            </div>
                          </button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div
          class="modal fade"
          id="materiaModal"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header bg-blue">
                <h3 class="modal-title">
                  <i class="fa fa-info-circle"></i> Variables Cuantitativas
                </h3>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <form id="formulario">
                  <div role="search" id="buscar2">
                    <input
                      class="form-control"
                      type="text"
                      placeholder="Buscar"
                      aria-label="Search"
                      [(ngModel)]="searchText2"
                      name="SearchText2"
                    />
                  </div>
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>DESCRIPCIÓN</th>
                        <th>ABREVIATURA</th>
                        <th>AGREGAR</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        *ngFor="
                          let cuantita of listaCuantitativa
                            | buscar : searchText2
                        "
                      >
                        <td>{{ cuantita.id_cuantitativa }}</td>
                        <td>{{ cuantita.descripcion }}</td>
                        <td>{{ cuantita.abreviatura }}</td>
                        <td>
                          <button
                            class="btn btn-primary"
                            role="button"
                            data-dismiss="modal"
                            data-bs-dismiss="modal"
                            (click)="agregarVariable(cuantita)"
                          >
                            <div class="d-flex">
                              <i class="fa fa-check"></i>
                            </div>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </form>
                <div class="modal-footer">
                  <button
                    type="button"
                    form="formulario"
                    class="btn btn-warning"
                    data-bs-dismiss="modal"
                  >
                    Cancelar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
