<body>
  <div class="container bg-light border border-start-0 rounded-4">
    <blockquote class="blockquote text-dark" style="margin-top: 5%">
      <h1>
        <strong
          >Evaluacion Cuantitativa del Indicador: {{ indicador.nombre }}</strong
        >
      </h1>
    </blockquote>

    <div class="card">
      <div class="card-body">
        <div class="input-group">
          <span class="input-group-text">Formula</span>
          <textarea
            class="form-control"
            aria-label="With textarea"
            [(ngModel)]="formula"
            name="formula"
            disabled
          ></textarea>
          <button
            class="btn btn-danger"
            style="width: 15%"
            (click)="borrarUltimoCaracter()"
          >
            <i class="fa fa-eraser" style="font-size: 1.5em"></i>
          </button>
          <button
            class="btn btn-success"
            style="width: 15%"
            (click)="guardarFormula()"
          >
            Guardar
            <i class="fa-solid fa-floppy-disk"></i>
          </button>
        </div>

        <blockquote class="blockquote text-dark" style="margin-top: 5%">
          <div class="button-group w-100 d-flex">
            <button
              type="button"
              class="btn btn-outline-dark flex-fill mx-1"
              (click)="agregarOperador('+')"
            >
              +
            </button>
            <button
              type="button"
              class="btn btn-outline-dark flex-fill mx-1"
              (click)="agregarOperador('-')"
            >
              -
            </button>
            <button
              type="button"
              class="btn btn-outline-dark flex-fill mx-1"
              (click)="agregarOperador('/')"
            >
              /
            </button>
            <button
              type="button"
              class="btn btn-outline-dark flex-fill mx-1"
              (click)="agregarOperador('*')"
            >
              *
            </button>
          </div>
          <br />
          <div class="button-group w-100 d-flex">
            <button
              type="button"
              class="btn btn-outline-dark flex-fill mx-1"
              (click)="agregarOperador('(')"
            >
              (
            </button>
            <button
              type="button"
              class="btn btn-outline-dark flex-fill mx-1"
              (click)="agregarOperador(')')"
            >
              )
            </button>
            <input
              class="form-control"
              type="number"
              id="descripcion"
              name="descripcion"
              style="width: 30%"
              #descripcionInput
            />
            <button
              type="button"
              class="btn btn-primary"
              (click)="agregarDescripcion(descripcionInput.value)"
            >
              Add number
            </button>
          </div>
        </blockquote>
        <blockquote class="blockquote text-dark" style="margin-top: 5%">
          <p>Variables Cuantitativas</p><button
          type="button w-100"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#materiaModal"
          (click)="listarCaunti()"
        >
          Agregar nueva variable para formula
        </button>
        </blockquote>
        <div role="search" id="buscar2">
          <input
            class="form-control"
            type="text"
            placeholder="Buscar"
            aria-label="Search"
            [(ngModel)]="searchText"
            name="SearchText"
          />
        </div>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>ABREVIATURA</th>
              <th>DESCRIPCION</th>
              <th>VALOR</th>
              <th>ACCIONES</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let valor of listaEvaluarCuant | buscar : searchText"
              (click)="agregarValor(valor)"
            >
              <td>{{ valor.cuantitativa?.abreviatura }}</td>
              <td>{{ valor.cuantitativa?.descripcion }}</td>
              <td>{{ valor.valor }}</td>
              <td>
                <div class="btn-group" role="group">
                  <button
                    class="btn btn-danger"
                    style="background-color: red; margin-right: 5%"
                    role="button"
                    (click)="eliminarevacuant(valor)"
                  >
                    <i class="fa fa-trash"></i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

        

        <div
          class="modal fade"
          id="materiaModal"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header bg-blue">
                <h3 class="modal-title">
                  <i class="fa fa-info-circle"></i> Variables Cuantitativas
                </h3>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <form id="formulario">
                  <div role="search" id="buscar2">
                    <input
                      class="form-control"
                      type="text"
                      placeholder="Buscar"
                      aria-label="Search"
                      [(ngModel)]="searchText2"
                      name="SearchText2"
                    />
                  </div>
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>DESCRIPCIÓN</th>
                        <th>ABREVIATURA</th>
                        <th>AGREGAR</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        *ngFor="
                          let cuantita of listaCuantitativa
                            | buscar : searchText2
                        "
                      >
                        <td>{{ cuantita.id_cuantitativa }}</td>
                        <td>{{ cuantita.descripcion }}</td>
                        <td>{{ cuantita.abreviatura }}</td>
                        <td>
                          <button
                            class="btn btn-primary"
                            role="button"
                            data-dismiss="modal"
                            data-bs-dismiss="modal"
                            (click)="agregarVariable(cuantita)"
                          >
                            <div class="d-flex">
                              <i class="fa fa-folder-open"></i>
                            </div>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </form>
                <div class="modal-footer">
                  <button
                    type="button"
                    form="formulario"
                    class="btn btn-warning"
                    data-bs-dismiss="modal"
                  >
                    Cancelar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
