<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid" style="background-color: white; border: 1px; border-radius: 2%;">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1><strong>MODELO:</strong> {{modeloMaximo.nombre}}</h1>
            </div>
            
        </div>
    </div>
    <!-- /.container-fluid -->
</section>
<!-- Main content -->


<div class="content">

    <div class="container-fluid">

        <!-- row Grafico de barras y doughnut-->

        <div class="">
            <div class="col-lg-6">

                <div class="card card-gray shadow">

                    <div class="card-header">
                        <h3 class="card-title" id="title-header"> PORCENTAJE DE INDICADORES DE LOS CRITERIOS</h3>

                        <h3 class="card-title" id="title-header"></h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>

                        </div> <!-- ./ end card-tools -->
                    </div> <!-- ./ end card-header -->


                    <div class="card-body">

                        <div class="chart">

                            <!--VISTAS DE CRITERIOS-->

                            <div class="container">
                                <div class="row">

                                    <div class="col" *ngFor="let item of listaCriterios">

                                        <div class="small-box bg-warning" style="width: 10rem;">

                                            <div class="small-box bg-primary" style="height: 20px;">

                                                <div class="inner">
                                                    <label class="textTitulo" for=""> <strong> {{item.nombre}} </strong>
                                                    </label>
                                                </div>
                                            </div>

                                            <div class="card-body">

                                                <div style="display: flex;">
                                                    <button (click)="editar(item)" type="button" class="btn btn-primary"
                                                        role="button" style="margin-right: 5%">
                                                        <i class="fa fa-bar-chart"></i>
                                                        Gráfica
                                                    </button>
                                                </div>

                                            </div>
                                        </div>



                                    </div>
                                </div>

                            </div>
                            <!--FIN DE VISTA DE CRITERIO-->

                            <!-- <canvas id="barChart"
                                style="min-height: 250px; height: 300px; max-height: 350px; width: 100%;">

                            </canvas> -->

                        </div>

                    </div> <!-- ./ end card-body -->

                </div>

            </div>





            <div class="col-lg-6">

                <div class="card card-gray shadow">

                    <div class="card-header">

                        <h3 class="card-title" id="title-header"> DETALLE DE CRITERIOS DEL MODELO</h3>

                        <div class="card-tools">

                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>

                        </div>
                        <!-- ./ end card-tools -->

                    </div>
                    <!-- ./ end card-header -->


                    <div class="card-body">

                        <!--PARA MOSTRAR EL PORCENTAJE DE LA ACTIVIDAD-->
                        <div class="table-responsive">
                            <table class="table" id="tbl_productos_poco_stock">
                                <thead>
                                    <tr class="text-danger text-center">
                                        <!-- <th>Cod. producto</th> -->
                                        <th>Nombre</th>
                                        <th class="text-center">Descripción</th>
                                        <th class="text-center">Acción</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="text-center text-start" *ngFor="let item of listaCriterios">
                                        <th>{{item.nombre}}</th>
                                        <th>{{item.descripcion}}</th>
                                        <th>
                                            <button (click)="editar2(item)" type="button" class="btn btn-primary"
                                                data-bs-toggle="modal" data-bs-target="#exampleModal"
                                                style="margin-right: 10px">
                                                Porcentaje
                                            </button>
                                        </th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--FIN PARA MOSTRAR-->

                        <div class="chart">

                            <div id="chartContainer"
                                style="min-height: 250px; height: 300px; max-height: 350px; width: 100%;"></div>

                        </div>

                    </div>
                    <!-- ./ end card-body -->

                </div>

            </div>

        </div>
        <!-- ./row Grafico de barras y doughnut -->

        <!-- Productos mas vendidos y con poco stock -->
        <div class="row">
            <div class="col-lg-6">
                <div class="card card-gray shadow">
                    <div class="card-header">
                        <h3 class="card-title">Visualización de Actividades Atrasadas</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div> <!-- ./ end card-tools -->
                    </div> <!-- ./ end card-header -->
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table" id="tbl_productos_mas_vendidos">
                                <thead>
                                    <tr class="text-danger">
                                        <th>Codigo</th>
                                        <th>Nombre</th>
                                        <th class="text-center">Fecha Inicio</th>
                                        <th class="text-center">Fecha Fin</th>
                                        <th class="text-center">Responsable</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="text-center text-start" *ngFor="let item of Actividades">
                                        <td>{{item.id_actividad}}</td>
                                        <td>{{item.nombre}}</td>
                                        <td>{{item.fecha_inicio}}</td>
                                        <td>{{item.fecha_fin}}</td>
                                        <td>
                                            <button (click)="getPersonaActividad(item)" type="button"
                                                class="btn btn-primary" style="margin-right: 10px">
                                                ver
                                            </button>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div> <!-- ./ end card-body -->
                </div>
            </div>
            
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="card card-gray shadow">
                    <div class="card-header">
                        <h3 class="card-title">Visualización de Actividades Atrasadas</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div> <!-- ./ end card-tools -->
                    </div> <!-- ./ end card-header -->
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="container" (click)="  getButtonCriterio2() " style="width: 35rem; height: 500px;">
                                <div class="card" style="width: 35rem; height: 500px; align-items:flex-start;
                                display: flex;
                                justify-content: center;" style="background-color: rgb(233, 227, 227); ">
                                    <div style="align-content: center; background-color: rgb(236, 235, 235);" class="card-body">
                            
                                        <div style="display: block; align-items: center; align-content: center;">
                                            <!-- <canvas style="width: 70%; height: 400px; align-items: center; align-content: center;" baseChart width="400" height="400" [type]="'line'" [data]="lineChartData"
                                                [options]="lineChartOptions" [legend]="lineChartLegend">
                                            </canvas> -->
                            
                                            <canvas baseChart [data]="barChartData" [options]="barChartOptions" [plugins]="barChartPlugins"
                                                [legend]="barChartLegend" [type]="'bar'">
                                            </canvas>
                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- ./ end card-body -->
                </div>
            </div>
            
        </div>

    </div><!-- /.container-fluid -->



</div>
<!-- /.content -->





<mat-card class="floating-card">
    <!-- Contenido de la tarjeta -->
    <div style="align-content: center;" class="card-body">
        <canvas baseChart [type]="'pie'" [datasets]="pieChartDatasets" [labels]="pieChartLabels"
            [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend">
        </canvas>
    </div>
</mat-card>

<mat-card class="floating-card2">
    <div style="align-content: center;" class="card-body">
        <h1 style="align-content: center;">DATOS DEL RESPONSABLE</h1>
        <div class="container">
            <div style="display: flex;">
                <p><Strong> Cedula: </Strong> </p>
                <p>{{persona.cedula}}</p>
            </div>
            <div style="display: flex;">
                <p><Strong> Nombres: </Strong> </p>
                <p>{{persona.primer_nombre}} {{persona.primer_apellido}}</p>
            </div>
            <div style="display: flex;">
                <p><Strong>Correo: </Strong> </p>
                <p>{{persona.correo}}</p>
            </div>
            <div style="display: flex;">
                <p><Strong>Numero Celular: </Strong> </p>
                <p>{{persona.celular}}</p>
            </div>
        </div>
    </div>
</mat-card>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">INDICADORES</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <canvas baseChart [type]="'pie'" [datasets]="pieChartDatasets2" [labels]="pieChartLabels2"
                    [options]="pieChartOptions2" [plugins]="pieChartPlugins2" [legend]="pieChartLegend2">
                </canvas>


                <!-- Modal -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>