<body>
  <div class="container bg-light border border-start-0 rounded-4">
    <blockquote class="blockquote text-dark" style="margin-top: 5%">
      <h1 style="text-transform: uppercase">
        <strong
          ><a style="cursor: pointer;" (click)="verCriterios()">LISTADO CRITERIOS </a>
          >
          <a style="cursor: pointer;" (click)="verSubcriterios()">{{ indicador.subcriterio?.criterio?.nombre }} </a>
          >
          <a style="cursor: pointer;" (click)="verIndicadores()">{{ indicador.subcriterio?.nombre }} </a>
          >
          <a>{{ indicador.nombre }}</a></strong
        >
      </h1>
    </blockquote>
    <div class="card">
      <div class="card-body">
        <div role="search" id="buscar">
          <div class="input-group">
            <input
              class="form-control"
              type="text"
              placeholder="Buscar"
              aria-label="Search"
              [(ngModel)]="searchText"
            />
          </div>
        </div>
        <br />
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#materiaModal"
        >
          CREAR NUEVA EVIDENCIA
        </button>
        <br />
        <br />
        <br />
        <div
          class="mat-elevation-z8 table-responsive"
          style="margin-bottom: 5%"
        >
        <table class="table table-hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>DESCRIPCIÓN</th>
              <th>ACCIÓN</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let evidencia of evidencias | buscar : searchText">
              <td>{{ evidencia.id_evidencia }}</td>
              <td>{{ evidencia.descripcion }}</td>

              <td>
                <div class="btn-group" role="group">
                  <button
                    type="button"
                    class="btn btn-primary"
                    style="margin-right: 5%"
                    data-bs-toggle="modal"
                    data-bs-target="#materiaModal"
                    (click)="editDatos(evidencia)"
                  >
                    <i class="fa fa-edit"></i>
                  </button>
                  <button
                    class="btn btn-danger"
                    style="background-color: red; margin-right: 5%"
                    role="button"
                    (click)="eliminar(evidencia)"
                  >
                    <i class="fa fa-trash"></i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        </div>
        <div
          class="modal fade"
          id="materiaModal"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
          (hidden.bs.modal)="limpiarFormulario()"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header bg-blue">
                <h3 class="modal-title">
                  <i class="fa-solid fa-clipboard"></i> Criterios
                </h3>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <form
                  [formGroup]="frmEvidencia"
                  (ngSubmit)="guardar()"
                  id="formulario"
                >
                  <div>
                    <label for="descripcion">Descripción:</label>
                    <textarea
                      class="form-control"
                      formControlName="descripcion"
                      id="descripcion"
                      name="descripcion"
                      style="margin-bottom: 10px"
                    ></textarea>
                    <div
                      class="alert alert-danger"
                      *ngIf="
                        frmEvidencia.controls['descripcion'].invalid &&
                        frmEvidencia.controls['descripcion'].touched
                      "
                    >
                      <div
                        *ngIf="
                          frmEvidencia.controls['descripcion'].hasError(
                            'required'
                          )
                        "
                      >
                        La descripcion no puede estar vacia
                      </div>
                      <div
                        *ngIf="
                          frmEvidencia.controls['descripcion'].hasError(
                            'maxlength'
                          )
                        "
                      >
                        Excedio el numero de caracteres permitido
                      </div>
                    </div>
                  </div>
                </form>
                <div class="modal-footer">
                  <button
                    type="button"
                    form="formulario"
                    class="btn btn-warning"
                    data-bs-dismiss="modal"
                  >
                    Cancelar
                  </button>
                  <button
                    type="submit"
                    class="btn btn-primary"
                    form="formulario"
                    *ngIf="!evid.id_evidencia"
                    data-dismiss="modal"
                    data-bs-dismiss="modal"
                    [disabled]="!frmEvidencia.valid"
                  >
                    Agregar
                  </button>
                  <button
                    class="btn btn-primary"
                    *ngIf="evid.id_evidencia"
                    data-dismiss="modal"
                    data-bs-dismiss="modal"
                    (click)="actualizar()"
                    [disabled]="!frmEvidencia.valid"
                  >
                    Actualizar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
