.modal-table {
    max-height: calc(100vh - 100px);
  }

  
  input:disabled,mat-label {
    color: #000000; 
    background-color: #ffffff; 
  }
  .btn-close {
    background-color: #f00;
  }
  .mat-cell {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }