
<aside class="main-sidebar sidebar-dark-primary elevation-4 fixed-sidebar" *ngIf="isLoggedIn" style="position: fixed;">

    <div class="brand-link" style=" display: flex;">
      <a data-widget="pushmenu" role="button">
        <i class="fas fa-bars fa-lg"></i>
      </a>      
        <div class="brand-text font-weight-light ml-2">{{rol}}</div>
    </div>

    <div class="sidebar scrollable-sidebar" style="height: 100%;">

      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item has-treeview" *ngFor="let item of menuItems">
            <a class="nav-link " style="cursor:pointer;">
              <i class="{{item.icono}}" ></i>
              <p class="ml-2">

                {{item.titulo}}
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item" *ngFor="let submenus of item.submenu">
                <a [routerLink]="submenus.url" class="nav-link" style="cursor:pointer; margin-left: 7%;">
                  <i class="far fa-circle nav-icon"></i>
                  <p class="ml-2">{{submenus.titulo}}</p>
  
                </a>
              </li>
             
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="cursor:pointer" (click)="logout()">
              
              <p class="ml-2">
                <i class="nav-icon fas fa-sign-out-alt"></i>
                Logout
              </p>
            </a>
          </li>
          
        </ul>
      </nav>
    </div>
  </aside>
