.main-sidebar.sidebar-dark-primary {
    background-color: #009900;
    /* background-color: #147414;*/
  }

  .scrollable-sidebar {
    overflow-y: auto;
    max-height: calc(100vh - 100px); /* Ajusta la altura máxima según tus necesidades */
  }
  