<mat-card class = "bootstrap-wrapper">
    <div class = "container">
      <div class = "row" style = "margin-top : 60px;">
        <div class = "col-md-6 offset-md-3">
          <h1 class="text-center" style="font-weight: bold;">BIENVENIDO AL SISTEMA ACI, <span style="text-transform: uppercase; color: blue;">{{user.username}}</span> !</h1>
          <br><br>
          <div class="container text-center">
            <img src="../../../assets/robot.png" width = "300" height = "300">
          </div>
          <br>
          <mat-card-content class="text-center">
          </mat-card-content>
          <br><br><br>
        </div>
      </div>
    </div>
  </mat-card>
  