body {
	font-family: 'Lato', sans-serif;
}
.background {
	background: url('https://images.pexels.com/photos/7652179/pexels-photo-7652179.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 100vh; 
	color: rgb(247, 247, 247);
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	
	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
		z-index: -1;
		filter: blur(200px);

	}
	h1{
		font-size: 4rem;
		font-weight: 700;
	}
}
.custom-input, .btn-custom {
	border: 0;
	background: transparent;
	border-bottom: 4px solid white;
	border-radius: 0;
	margin-bottom: 0;
}
.custom-input:focus {
	border-color: white;
	background: transparent;
	color: white;
}
.btn-custom {
	color: white;
	cursor: pointer;
}
.display-5 {
	font-size: 1.5rem;
}
#greeting {
	margin-top: 2rem;
	font-size: 2rem;
}
@media (min-width: 576px) {
	.background h1 {
		font-size: 5.5rem;
		padding: 60px;
	}
	.display-5 {
		font-size: 2.5rem;
	}
	#greeting {
		margin-top: 2rem;
		font-size: 2.5rem;
	}
}
@media (min-width: 992px) {
	.background h1 {
		font-size: 6rem;
	}
	#greeting {
		font-size: 3rem;
	}
}

@media (min-width: 1200px) {
	.background h1 {
		font-size: 7.5rem;
	}
	#greeting {
		font-size: 3.6rem;
	}
}
.colors{
	background: linear-gradient(to right, #ff8a00, #da1b60);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}
.content-container {
	position: relative;
	z-index: 1;
  }