/* Estilo para la tarjeta */
.p-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

/* Estilo para la tabla */
.custom-table {
  width: 100%;
  color: black;
  margin-top: 20px;
}

.custom-table th {
  padding: 12px;
  text-align: center;
}
.custom-table th.n-centrar {
  text-align: left;
}
.custom-table td.s-centrar{
  text-align: center;
}


.custom-table th {
  background-color: #f0f0f0;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
}

.custom-table tr {
  border-bottom: 1px solid #ccc;
}

.custom-table tr:last-child {
  border-bottom: none;
}

/* Estilo para los botones */
.p-button {
  padding: 6px 6px;
  margin-right: 5px;
}

.p-button-rounded {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  margin-right: 5px;
  cursor: pointer;
}

.p-button-secondary {
  background-color: #007bff;
  color: #fff;
}

.p-button-danger {
  background-color: #dc3545;
  color: #fff;
}
/* styles.css */

.lista-usuarios {
    position: relative;
    font-size: 30px;
    font-weight: 450;
 font-weight: bold;
     color: #077b15;

}
/* styles.css */
.center-icon {
  text-align: center;
}
.p-inputgroup {
  width: 300px;
  margin-bottom: 10px;
}

.p-inputgroup .p-inputgroup-addon {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
}

.p-inputgroup .p-inputtext {
  border: none;
  border-radius: 0;
  padding: 8px;
}

.p-inputgroup .p-inputtext:focus {
  outline: none;
  box-shadow: none;
}
