.header-container {
  display: flex;
  margin: 10px 10px; /* Add some top and bottom margin for spacing */
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;   
}

.header-title {
  font-size: 30px;
  font-weight: bold;
  color:rgb(9, 70, 9); /* You can choose your preferred color */
  text-align: left;
}
.header-title2 {
  font-size: 20px;
  font-weight: bold;
  color:rgb(9, 70, 9); /* You can choose your preferred color */
  text-align: left;
}
.btncrear{
  background-color:rgb(9, 70, 9);
}

.p-button-rounded {
border-radius: 50%;
width: 34px;
height: 34px;
line-height: 20px;
font-size: 14px;
margin-right: 5px;
cursor: pointer;
}

.p-button-secondary {
background-color:rgb(9, 70, 9);
color: #fff;
}

.p-button-danger {
background-color: #e90017;
color: #fff;
}
.btnsubpro{
background-color:rgb(9, 70, 9);
color: #fff;

}
.btncancelar{
background-color: #e90017;
color: #fff;
}
/* Add this style to your CSS file or your component's inline styles */
.modal-header{
background-color:rgb(9, 70, 9); /* Change this to your desired blue color code */
color: #fff; /* Change the text color to white for better visibility */
}


input[type="text"] {
padding: 8px; /* Espaciado interno */
border: 1px solid #ccc; /* Borde del campo */
border-radius: 4px; /* Bordes redondeados */
font-size: 16px; /* Tamaño de fuente */
}

/* Estilo para el placeholder (texto de ejemplo) */
::placeholder {
color: #888; /* Color del texto del placeholder */
}

/* Estilo para el texto del campo de búsqueda cuando está enfocado */
input[type="text"]:focus {
outline: none; /* Quita el borde que aparece al enfocar el campo */
border-color: #66afe9; /* Cambia el color del borde cuando está enfocado */
box-shadow: 0 0 5px #66afe9; /* Añade una sombra al campo cuando está enfocado */
}

.form-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Estilos para cada columna del formulario */
.form-column {
  width: calc(50% - 10px); /* Ancho de cada columna, menos 10px de espacio entre ellas */
  margin-bottom: 20px; /* Espacio entre las columnas */
}

/* Estilos para los elementos del formulario */
.form-column label {
  display: block;
  margin-bottom: 5px;
}

.form-column input {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

/* Estilos para las alertas de error */
.alert.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  padding: 5px;
  margin-top: 5px;
}

