<div class="p-card">
  <h2 class="lista-usuarios">Lista de Usuarios</h2>


  <p-table [value]="people" [paginator]="true" [rows]="8" class="custom-table">
    <!-- Columnas de la tabla -->
    <ng-template pTemplate="header">
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Edad</th>
        <th>Acciones</th> <!-- Agrega una columna para los botones de acciones -->
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-person>
      <tr>
        <td>{{ person.id }}</td>
        <td>{{ person.name }}</td>
        <td>{{ person.age }}</td>
        <td>
          <!-- Agrega los botones de "Eliminar" y "Editar" en cada fila -->
          <button pButton type="button" label="Editar" icon="pi pi-user-edit" (click)="showEditDialog(person)" class="p-button-rounded p-button-secondary"></button>
          <button pButton type="button" label="Eliminar" icon="pi pi-trash" (click)="deleteUser(person)" class="p-button-rounded p-button-danger"></button>
         </td>
      </tr>
    </ng-template>
  </p-table>
</div>
