<body>
  <div class="card">
    <h1 style="padding: 10px; text-align: center">
      <strong>Listado de Evidencias</strong>
    </h1>
    <div class="card-body">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Buscar..." />
        <div class="input-group-append">
          <button class="btn btn-primary" type="button">Buscar</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <table class="table">
            <thead>
              <tr>
                <th>Id</th>
               <th>Evidencia</th>
               <th>Fecha</th>
                <th>Actividades</th>
                <th>Borrar</th>
              </tr>
            </thead>
            <tbody>
              <!--             <tr *ngFor="let file of fileInfos | async">-->
              <tr *ngFor="let file of Archivos">
                <td>{{file.id_archivo}}</td>
                <td> <a href="{{ file.enlace }}"> {{ file.nombre }} </a></td>
                <td>{{file.fecha}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <br />
            <div class="form-group">
              <label for="archivo">Archivo:</label>
              <input id="archivo" type="file" (change)="onFileChange($event)" />
            </div>
            <select id="id_evidencia" class="form-control" [(ngModel)]="id_evidencia">
              <option value="">Evidencia</option>
              <option *ngFor="let evidencia of evidencias" [value]="evidencia.id_evidencia">{{ evidencia.descripcion }}
              </option>
            </select>
            <div class="form-group">
              <label for="descripcion">Descripción:</label>
              <textarea id="descripcion" class="form-control" [(ngModel)]="descripcion"></textarea>
            </div>
            <button class="btn btn-primary" type="button" (click)="onUpload()" [disabled]="!filearchivo">
              Subir archivo
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
